# Dependencies
node_modules
.pnpm-store

# Build output
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Documentation
README.md
_documentation

# Docker
Dockerfile
docker-compose.yml
.dockerignore
